* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}


header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  background: #e2dada;
  border-bottom: 1px solid #ddd;
}

header h1 {
  font-size: 30px;
}

header h3 {
  margin-left: 25px;
  cursor: pointer;
  font-weight: normal;
}


div {
  padding: 40px;
  text-align: center;
}

div h1 {
  margin-bottom: 10px;
}

div h3 {
  color: #555;
  font-weight: normal;
}


img {
  width: 300px;
  border-radius: 10px;
  margin: 30px 0;
}


form {
  max-width: 400px;
  margin: 0 auto;
  text-align: left;
}

label {
  display: block;
  margin: 10px 0 5px;
}

input {
  width: 100%;
  padding: 8px;
  border: 1px solid #bbb;
  border-radius: 6px;
  margin-bottom: 10px;
}

button {
  width: 100%;
  padding: 10px;
  background: black;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}



footer {
  text-align: center;
  margin-top: 40px;
  padding: 20px;
  font-size: 14px;
  color: #777;
}

nav{
display: flex;

}

button:hover {
  background: #444;
}

header a {
  text-decoration: none;
  color: black;
}
@media (max-width: 600px) {

  header {
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    text-align: center;
  }

  nav {
    flex-direction: column;
    gap: 10px;
  }

  img {
    width: 100%;   
  }

  div {
    padding: 20px;
  }

  form {
    width: 100%;
    padding: 0 10px;
  }
}
